<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>ComicGit</title>
		<!-- styles -->
		<link rel="stylesheet" type="text/css" href="/css/app.css" />
		<link rel="stylesheet" type="text/css" href="/css/bootstrap/bootstrap.min.css" />
		<link rel="stylesheet" type="text/css" href="/css/font-awesome.css" />
		<!-- library -->
		<script type="text/javascript" src="/js/lib/fabric.js"></script>
		<script type="text/javascript" src="/js/lib/jquery.min.js"></script>
		<script type="text/javascript" src="/js/lib/modernizr.custom.05406.js"></script>
		<!-- js -->
		<script type="text/javascript" src="/js/editpanelView.js"></script>
	</head>
	<body>
		<!-- wrap -->
		<div class="wrap">
			<!-- header -->
			<header class="header">
				<div class="container text-center bottomShadow">
					<div class="row">
						<div class="col-xs-12">
							<h1>Edit Panel</h1>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-5 col-xs-offset-1">
							<a class="btn btn-default btn-lg btn-block" href="/index" role="button">Go HOME</a>

							<br>
						</div>
						<div class="col-xs-5 col-xs-offset-1">
							<a class="btn btn-default btn-lg btn-block" id="backstoryflow" role="button">Go to storyflow</a>
							<br>
						</div>
					</div>
				</div><!-- /.bottomShadow -->
			</header><!-- /.header -->
			
			<!-- main content -->
			<div class="container main">
				<div id="main">
					<br>
					<br>
					<div class="row">
						<div class="col-md-8">
							<div id="canvas-container">
								<canvas id="canvas" width="700px" height="550px"></canvas>
							</div>
						</div>
						<div class="col-md-4">
							<h3 class="text-center"> Drawings/Settings</h3>
							<br>
							<div class="form-group">
								<div class="row">
									<div class="col-sm-2">
										<label for="draw">Draw:</label>
									</div>
									<div class="col-sm-3">
										<button class="btn btn-default" id="draw">Start</button>
									</div>
									<div class="col-sm-5 col-offset-sm-2">
										<label for="clear-canvas">Clear the canvas: </label>
									</div>
									<div class="col-sm-2">
										<button class="btn btn-default" id="clear-canvas">Clear</button>
									</div>
								</div>
							</div>
							<div class="form-group">
								<div class="row">
									<div class="col-sm-4">
										<label for="drawing-line-width">Line width:</label><span class="info"> 10 </span>
									</div>
									<div class="col-sm-8">
										<input type="range" value="10" min="1" maxcdn="50" id="drawing-line-width">
									</div>
								</div>
							</div>
							<div class="form-group">
								<div class="row">
									<div class="col-sm-5 col-offset-sm-1">
										<label for="drawing-line-color">Line/Text color:</label>
									</div>
									<div class="col-sm-6">
										<input type="color" id="drawing-line-color">
									</div>
								</div>
							</div>
							<div class="form-group">
								<div class="row">
									<div class="col-sm-2">
										<label for="create-text-obj">Text:</label>
									</div>
									<div class="col-sm-6 col-offset-sm-1">
										<textarea id="text-input" rows="1" ></textarea>
									</div>
									<div class="col-sm-2 col-offset-sm-1">
										<button id="create-text-obj">Add</button>
									</div>
								</div>
							</div>
							<div class="form-group">
								<label for="drag-drop">Drag:</label>
								<!--local resources: Need to add controller to load the images-->
								<div id="images">
									<img style="cursor: pointer" width="80px" height="80px" id="img1" class="img-thumbnail" src="/assets/Stickman.png" alt="" value="" draggable="true">
									<img style="cursor: pointer" width="80px" height="80px" id="img2" class="img-thumbnail" src="/assets/Vitaly-Milonov-by-Rones.png" alt="" value="" draggable="true">
									<img style="cursor: pointer" width="80px" height="80px" id="img3" class="img-thumbnail" src="/assets/Speech_bubble.png" alt="" value="" draggable="true">
									<img style="cursor: pointer" width="80px" height="80px" id="img4" class="img-thumbnail" src="/assets/nicubunu-Callout-cloud-center.png" alt="" value="" draggable="true">
								</div>

							</div>
							<div class="form-group">
								<label for="remove-object">First select any object then: </label>
								<button class="btn btn-default" id="remove-object">Remove</button>
							</div>
							<div class="form-group">
							  	<label for="back-layer">send to back layer </label>
								<button class="btn btn-default" id="back-layer">back</button>
								<label for="front-layer">send to front layer </label>
								<button class="btn btn-default" id="front-layer">front</button>
							</div>
							<div class="form-group">
								<label for="save-to-server">save to server:</label>
								<div id="storyflowdiv"></div>
								<div id="parentpaneldiv"></div>
								<div id="paneldiv"></div>
								<button class="btn btn-default" id="save-to-server">save</button>
							</div>
							<div class="form-group">
							  <form id="form-image-input" runat="server">
							    <input type="file" id="image-input"/>
							    <!--  <img id="blah" src="#" alt="your image" />-->
							  </form>
							</div>
							<div class="form-group" id="save-local-button">
							  <label for="save-to-local">Save to local disk:</label>
							  <button class="btn btn-default" id="save-to-local">Save</button>
							</div>
						</div>
					</div>
					<br>
					<br>
				</div>
			</div><!-- /.main -->
		</div><!-- /.wrap -->

		<!-- footer -->
		<footer class="footer">
			<div class="container topShadow">
				<div class="row text-center">
					<div class="col-xs-12">
						<br>
						ComicGit: a CSC690 final project by <a href="http://robinss.com" target="_blank">Sisi Wei</a> and Sylvain Ribstein<br>
						Documentation on <a href="https://docs.google.com/document/d/1Fq9K9efgS_MVmtmGSNIfi8MJMKnA9rFwhu78Fg5DSU0/edit?usp=sharing" target="_blank">Google Doc</a><br>
						Code on <a href="https://github.com/Robinss2014/ComicGit" target="_blank">GitHub</a><br>
					</div>
				</div>
			</div>
		</footer><!-- /.footer -->
	</body>
</html>
