<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>ComicGit</title>
		<!-- styles -->
		<link rel="stylesheet" type="text/css" href="/css/app.css" />
		<link rel="stylesheet" type="text/css" href="/css/bootstrap/bootstrap.min.css" />
		<link rel="stylesheet" type="text/css" href="/css/font-awesome.css" />
		<!-- library -->
		<script type="text/javascript" src="/js/lib/fabric.js"></script>
		<script type="text/javascript" src="/js/lib/jquery.min.js"></script>
		<!-- js -->
		<script type="text/javascript" src="/js/slideshowView.js"></script>
	</head>
	<body>
		<!-- wrap -->
		<div class="wrap">
			<!-- header -->
			<header class="header">
				<div class="container text-center bottomShadow">
					<div class="row">
						<div class="col-xs-12">
							<h1>Slide Show</h1>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-5 col-xs-offset-1">
							<a class="btn btn-default btn-lg btn-block" href="/index" role="button">Go HOME</a>

							<br>
						</div>
						<div class="col-xs-5 col-xs-offset-1">
							<a class="btn btn-default btn-lg btn-block" id="backstoryflow" role="button">Go to storyflow</a>
							<br>
						</div>
					</div>
				</div><!-- /.bottomShadow -->
			</header><!-- /.header -->
			
			<!-- main content -->
			<div class="container main">
				<br>
				<div id="main">
					<br/>
					<br/>
					<div class="row">
						<div class="col-md-2">
							<div class="form-group">
								<button class="btn btn-default" id="left">prev</button>
							</div>
						</div>
						<div class="col-md-8 imgdiv"  style="">
							<img id="slide" height="550px" width="700px" />
						</div>
						<div class="col-md-2">
							<div class="form-group">
								<button class="btn btn-default" id="right">next</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<!-- footer -->
		<footer class="footer">
			<div class="container topShadow">
				<div class="row text-center">
					<div class="col-xs-12">
						<br>
						ComicGit: a CSC690 final project by <a href="http://robinss.com" target="_blank">Sisi Wei</a> and Sylvain Ribstein<br>
						Documentation on <a href="https://docs.google.com/document/d/1Fq9K9efgS_MVmtmGSNIfi8MJMKnA9rFwhu78Fg5DSU0/edit?usp=sharing" target="_blank">Google Doc</a><br>
						Code on <a href="https://github.com/Robinss2014/ComicGit" target="_blank">GitHub</a><br>
					</div>
				</div>
			</div>
		</footer><!-- /.footer -->

	</body>
</html>

